<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>PUT/POST Printer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Post/Put JSON Printer</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link href="{{ url_for('static', filename='css/postputjsonprinter.css') }}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/jsx">

/*** @jsx React.DOM */
var socket = io.connect('http://localhost:5000');

class PacketRender extends React.Component {
    componentDidMount () {
	ReactDOM.findDOMNode(this).querySelectorAll('pre').forEach(
	    function (currentValue){hljs.highlightBlock(currentValue)}
	)
    }

    render () {
	const { children, className, language, style } = this.props
	var pkt = JSON.parse(this.props.children)
	var json_prettify = (json_in) => JSON.stringify(json_in,null,2)
	return (
		<div className="pkt_render">
		<div >{pkt.timestamp}</div>
		<div >Method: {pkt.method}</div>
		<div>ARGS:
		<pre ><code>{json_prettify(pkt.args)}</code></pre>
		</div>
		<div>FORM:
	    	<pre ><code>{json_prettify(pkt.form)}</code></pre>
		</div>
	    	<div>JSON:
		<pre><code>{json_prettify(pkt.json)}</code></pre>
		</div>
		</div>
	);
    }
}

class req_json_pkt extends React.Component {

    constructor(props) {
	super(props);
	this.state = {req_datas: []};
    }
    
    componentDidMount() {
	socket.on('postput_received', function(data) {
	    var req_datas = this.state.req_datas;
	    req_datas.unshift(JSON.stringify(data,null,2));
	    this.setState(req_datas);
	}.bind(this));/*to not lose context*/
    }
    render() {
	const req_list = this.state.req_datas.map((data,index) =>
						  <PacketRender>{data}</PacketRender>);
	return (React.createElement('div',null,req_list));
    }
}

ReactDOM.render(
    React.createElement(req_json_pkt),
    document.getElementById('content')
);
    </script>
  </body>
</html>
